body {
    margin: 0; 
    padding: 0;
    min-height: 100%;
} 

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 76px;
    line-height: 11px;

}

img {
    font-size: 45px;
    line-height: 0px;
    /* bauer bodoni costs money :( */
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #000000;
    line-height: 24px;
    padding-right: 100px;
}

input {
    width: 71.5%;
    padding: 15px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;;
    background-image: url(searchicon.png);
    background-size: 18px 18px;
    background-position: 634px 20px; 
    background-repeat: no-repeat;
    padding-top: 18px;
    padding-right: 20px;
    padding-left: 20px;
    caret-color: #BB0000;
}

.wordmark-red {
    width: 77%;
}

.landing-page {
    color: #BB0000;
    position: relative;
    top: 50%;
    transform: translateY(80%);
}

* {
    box-sizing: border-box;
}


.row::after {
    content: "";
    clear: both;
    display: grid;
}

[class*="col-"] {
    float: left;
    padding: 20px;
}

[class*="col-7"] {
    background: #BB0000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* basically aaaaallllll of this responsive grid stuff is messy and idk what I'm doing.
    Buuuut it's doing something! Sooo that's cool. This is probably not the best way to
<<<<<<< HEAD
    do it but I made it on a grid system
=======
    do it lol but I made it on a grid system
>>>>>>> 6b31c661d1b5710de8df75abbd3e5cd78dd6cc89

    issues with changing window size  ¯\_(ツ)_/¯

    px --> em
*/