body {
    margin: 0; padding: 0;
} 

h1 {
    font-family: 'Open Sans', sans-serif;
    font: lighter; /* I don't think this is working but idk how to do it lol. It should be open sans light */
    font-size: 76pt;
}

h3 {
    font-family: 'Open Sans-Extrabold', sans-serif;
    font-size: 18pt;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18pt;
}

* {
  box-sizing: border-box;
}


.row::after {
  content: "";
  clear: both;
  display: grid;
  grid-template-rows: 50px 10px;
}

[class*="col-"] {
  float: left;
  padding: 20px;
}

[class*="col-7"] {
  background-color: #BB0000; /* dont know how to make it go all the way down !! */
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* basically aaaaallllll of this responsive grid stuff is messy and idk what I'm doing. Buuuut it's doing something! Sooo that's cool 
    wanna make all pt --> em
*/