* {
  font-family: 'Montserrat', sans-serif;
  background: white;
}

#footer ul {
  text-align: center;
}

#footer li {
  display: inline-block;
  text-align: center;
  list-style-image: none;
  text-align: center;
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
}
