.test {
  padding: 20px;
  background: white;
  padding: 20px;
  width: 600px;
  margin: auto;
  border: 1px solid black;
}

.popup {
  display: table;
  width: 100%;
}


.popup_header {
  display: table-row;
  padding: 20px;
}

.popup_header span {
  cursor: pointer;
}

.popup_header .button {
  width: 40px;
  display: table-cell;
  border: none;
  cursor: pointer;
}

.popup_header p {
  display: table-cell;
  padding: 10px;
  padding-bottom: 5px;
  font-size: 20px;
}

.popup_description {
  display: table-row;
}

.popup_description p {
  padding: 0px 10px 0px 10px;
  padding-top: 0px;
  color: gray;
  font-size: 12px;
  margin: 0px;
}

.popup_question {
  margin: 15px 10px 10px 10px;
}

.required_question * {
  /* background: lightgray; */
}

.popup_question p {
  margin: 0px;
  padding: 5px 0px 5px 5px;
  font-size: 15px;
}

.popup_response_group {
  margin: 0px;
  padding: 0px 0px 5px 0px;
  display: flex;
  flex-wrap: wrap;
}

.popup_response {
  list-style-type: none;
  padding: 5px;
  margin: auto;
}

.popup_response_value {
  display: inline-block;
  padding: 0px 5px 0px 5px;
  margin-left: 1px;
}

.popup_supplement {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: lighter;
}

.popup_supplement p {
  padding: 0px 0px 5px 0px;
}

.popup_addcart {
  margin: auto;
  width: 200px;
  display: block;
  border: 1px solid lightgray;
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
}

.popup_addcart:hover {
  background: lightgray;
  cursor: pointer;
}
