/*
Master CSS for all files
*/


/* ------------------------UNIVERSAL--------------------------- */
/* ------------------------UNIVERSAL--------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    background: white;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 20px;
}

.row::after {
    content: "";
    clear: both;
    display: grid;
}

/* ------------------------UNIVERSAL--------------------------- */
/* ------------------------UNIVERSAL--------------------------- */





/* -----------------------LANDING PAGE------------------------- */
/* -----------------------LANDING PAGE------------------------- */

h1.landingPage {
    font-weight: 300;
    font-size: 4.5vw;
    line-height: 11px;
    margin-top: 35px;
    margin-bottom: 75px;
}

h3.landingPage {
    font-weight: 800;
    font-size: 1.2vw;
    line-height: 24px;
    margin-bottom: 20px;
    color: #BB0000;
}

p.landingPage {
    font-size: 1.1vw;
    color: #000000;
    padding-right: 100px;
    padding-bottom: 18px;
    line-height: normal;
}

.col-7.landingPage {
    background: #BB0000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input.landingPage {
    width: 71.5%;
    font-size: 18px;
    background-image: url(../../images/searchIcon.png);
    background-size: 18px 18px;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-color: "white";
    padding-top: 18px;
    padding-right: 32px;
    padding-left: 20px;
    padding-bottom: 18px;
    caret-color: #BB0000;
    cursor: auto;
}

.col-5.landingPage {
    color: #BB0000;
    position: relative;
    transform: translateY(70%);
}

#faded {
    color: #808080;
    font-size: 1vw;
}

#inLineLink {
    color: #808080;
    font-size: 1vw;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.wordmark_red {
    width: 77%;
    font-size: 45px;
    line-height: 0px;
    /* bauer bodoni costs money :( */
}

/* -----------------------LANDING PAGE------------------------- */
/* -----------------------LANDING PAGE------------------------- */





/* -------------SEARCH RESULTS and COURSE DETAIL--------------- */
/* -------------SEARCH RESULTS and COURSE DETAIL--------------- */

h1.search {
    font-weight: 300;
    font-size: 2.6vw;
    margin-top: 30px;
}

h3.search {
    font-weight: 800;
    font-size: 1.1vw;
    color: #BB0000;
    padding-right: 1.2%;
}

h2 {
    font-weight: 300;
    font-size: 1.4vw;
}

h4 {
    font-size: 1vw;
    font-weight: 700;
}

h5.search {
    font-size: 2.6vw;
    font-weight: 700;
    color: #BB0000;
}

h6.search {
    font-size: .73vw;
    background: #F7F7F7;
    cursor: pointer;
}

.button:hover {
    border: 1.5px solid #BB0000;
}

.button {
    margin-right: 10px;
    display: inline-flex;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 10px;
    background: #F7F7F7;
    border: 1.5px solid #D1D1D1;
    border-radius: 7px;
    cursor: pointer;
}

.triangle {
    margin-left: 6px;
    width: 0;
    height: 0;
    display: inline-block;
    border-style: solid;
    border-width: 9.5px 5.5px 0 5.5px;
    border-color: #bb0000 transparent transparent transparent;
    background: #F7F7F7;
    cursor: pointer;
}

.outOf {
    font-size: 1.3vw;
    font-weight: 400;
    color: #7F7F7F;
    padding-left: 1px;
}

p.search {
    font-weight: 300;
    font-size: 1.1vw;
}

hr {
    width: 83.33%;
    margin-left: auto;
    margin-right: auto;
    border: 0 none;
    height: 1px;
    background-color: #E5E5E5;
}

.title {
    display: flex;
}

p.mini.search {
    font-weight: 300;
    font-style: italic;
    font-size: .86vw;
    padding-top: 6px;
}

.col-12.search {
    display: flex;
    padding-left: 8.33%
}

.col-7.search {
    display: block;
    padding-left: 8.33%;
}

.col-3.search {
    display: block;
}

.col-2.search {
    padding-right: 8.33%;
    text-align: right;
    padding-bottom: 0px;
    padding-top: 15px;
}

.col-8.filter {
    display: inline-block;
    padding-left: 8.33%;
    margin-bottom: 20px;
}

.col-4.sort {
    padding-right: 8.33%;
    text-align: right;
}

#sort {
    text-decoration: underline;
}

/* -------------SEARCH RESULTS and COURSE DETAIL--------------- */
/* -------------SEARCH RESULTS and COURSE DETAIL--------------- */




                                           
/* ---------------------------NAVBAR--------------------------- */
/* ---------------------------NAVBAR--------------------------- */

.col-12.nav {
    width: 100%;
    padding: 0px;
    background: #BB0000;
    display: flex;
    height: 79px;
    margin-top: 0px;
    align-items: center;
}

ul.nav {
    background-color: transparent;
    width: 37.8vw;
}

li.nav {
    font-weight: 300;
    font-size: 1.1vw;
    background-color: transparent;
    color:#FFFFFF;
    float: right;
    list-style-type: none;
    text-align: center;
    padding-right: 40px;
}

h1.nav {
    font-weight: 300;
    font-size: 1.8vw;
    line-height: 11px;
    margin-left: 1.3%;
    margin-bottom: .55%;
    color: #FFFFFF;
    background-color: transparent;
    text-align: center;
}

input.nav {
    width: 23.2%;
    height: 30px;
    font-size: .86vw;
    background-image: url(../../images/searchIcon.png);
    background-size: 14px 14px;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-color: "white";
    padding-top: 14px;
    padding-right: 32px;
    padding-left: 8px;
    padding-bottom: 14px;
    margin-right: 1.4%;
    caret-color: #BB0000;
    cursor: auto;
}

.wordmark_white {
    width: 20%;
    height: auto;
    margin-left: 1.4%;
    font-size: 1.4vw;
    line-height: 0px;
    background-color: transparent;
    /* bauer bodoni costs money :( */
}

.user {
    width: 1.3%;
    height: auto;
    background-color: transparent;
    margin-right: 1.4%;
}

/* ---------------------------NAVBAR--------------------------- */
/* ---------------------------NAVBAR--------------------------- */





/* ----------------------------ABOUT--------------------------- */
/* ----------------------------ABOUT--------------------------- */

.col-12.about {
    display: flex;
    padding-left: 8.33%
}

.col-5.about {
    display: flex;
    padding-left: 8.33%;
    padding-right: 8.33%
}

.col-2.about {
    display: block;
    padding-right: 0px;
}

.col-3.about {
    display: block;
    padding-right: 8.33%;
}

.pics {
    width: 100%;
    height: 204px;
    object-fit: cover;
}

h1.about {
    font-weight: 300;
    font-size: 2.6vw;
    margin-bottom: 15px;
    margin-top: 30px;
}

h3.about {
    font-weight: 800;
    font-size: 1.1vw;
    color: #BB0000;
    padding-top: 10px;
}

p.about {
    font-weight: 300;
    font-size: 1.4vw;
}

p.aboutDetail {
    font-weight: 300;
    font-size: 1.1vw;
    padding-top: 20px;
}

p.mini.about {
    font-weight: 300;
    font-style: italic;
    font-size: .86vw;
    padding-top: 6px;
}


/* ----------------------------ABOUT--------------------------- */
/* ----------------------------ABOUT--------------------------- */


/*
TEXT DOESNT HAVE MINIMUM OR MAXIMUM SIZES–WE NEED THAT eventually
Responsive text still imperfect
Search bar doesn't change size proportionally? Search text remains long
how does vertical reponsiveness work
zoom in or out images dont change
*/
